[paths]
source =
   src
   */site-packages

[run]
branch = true
source =
    earthgazer
    tests
parallel = true

[report]
exclude_lines = 
    \.\.\.
    pass
    pragma: no cover
show_missing = true
precision = 2
omit = *migrations*
