# google-api-core
# google-api-python-client
# google-auth
# google-cloud-core
# google-cloud-storage
# google-cloud-bigquery
# luigi
# psycopg2-binary
# httplib2
# tifffile
# imagecodecs
pyspark
geopyspark
pandas
numpy
rasterio
tensorflow
matplotlib
pyarrow
PyYAML